<p>
  students works!
</p>


<form class="form-signin" #f1="ngForm" >
	<h2 class="form-signin-heading">Please sign in</h2>

	<div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>

	<label for="inputEmail" class="sr-only">Email address</label>
	<input type="email" id="inputEmail1" name="email1" ngModel class="form-control" placeholder="Email address" required autofocus>

	<label for="inputPassword" class="sr-only">Password</label>
	<input type="text" id="inputPassword1" name="password1" ngModel class="form-control" placeholder="Password" required>
	
	<button class="btn btn-lg btn-primary btn-block" (click)="getData(1)">Sign in</button>
</form>

<hr/>

<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
	<h2 class="form-signin-heading">Please sign in</h2>

	<div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>

	<label for="inputEmail" class="sr-only">Email address</label>
	<input type="email" id="inputEmail" name="email" ngModel class="form-control" placeholder="Email address" required autofocus>

	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password" required>
	
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>


