<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <!--img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="-->
</div>

<div>
	<h4>Style Binding</h4>

</div><hr/>

<div>
	<h4>Class Binding</h4>
	<P>{{ 2+3 }}</P>
	<p class="p-warn">Testing para 1 </p>
	<p [class]="propSuc">Testing para 2-1 </p>
	<p [class]="propsuc">Testing para 2-2 </p>

	<p [class.p-crit]="propSuc">Testing para 2-3 </p>
	<p [class.p-crit]="boolVal">Testing para 2-4 </p>


	<p [ngClass]="msgObj">Testing para 2-5 </p>
	<p >Testing para 3 </p>
</div><hr>


<div>
	<h4>Property Binding</h4>
	<input type="text" [disabled]="isDisabled" value="text1 value"> <br>
	<input type="text" value="text1 value"> <br>

	<input type="text" name="txt1" id="txt1" value="text1 value"> <br>
	<input type="text" [id]="txt2" value="text2 value"> <br>
	<input type="text" id="{{txt3}}" value="text3 value"> <br>
	<input type="text" id={{txt4}} value="text4 value"> <br>
</div>


<router-outlet></router-outlet>
